body{
    margin:0;
    padding: 0;
    width: 100%;
    margin:0px auto;
    background-image: url("az_subtle.png");
}
.content{
    width:90%;
    margin:0px auto;
    /*border:2px solid black;*/
}
.head{
    /*border:2px solid black;*/
    height: 45px;
    background: linear-gradient(0deg, gray, #e5e5e5);
    width:100%;
    position:fixed;
    top:0;
    z-index: 222;
    border-bottom: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.33);
}
.head>.welcome{
    display: block;
    float:left;
    margin-top: 10px;
    margin-left: 20px;
}
a{
    text-decoration: none;
    color: grey;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;

}
.welcome a:hover{
    color: rgba(255, 214, 23, 1);
}
.search{
    height:40px;
    width:200px;
    /*border:2px solid red;*/
    float:right;
    text-align: right;
    display: block;
}
.button-search{
    display: block;
    float:right;
    /*border:2px solid yellow;*/
    margin-top: 10px;
    margin-right: 10px;
}

.logo img{
    position: absolute;
    top: 77px;
    z-index: 99;
    /*border:2px solid black;*/
}
.logo{
    height: 180px;
    /*text-align: left;*/
    /*border:2px solid black;*/
}


#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar ul li { float: none; }
#navbar ul {
    display: none;
    position: absolute;
    top: 100%;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
    /*border: 2px solid black;*/
    width:16.5%;
}
#navbar { height: 40px;border: 2px solid red }

.container{
    clear: both;
}